*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;

}
body{
    font-size: 16px;
    color:white;
}

.gradient-background{
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.font-16{
    font-size: 16px;
}
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}
.font-60{
    font-size: 60px;
}
.font-48{
    font-size: 48px;
}

.weight-regular{
    font-weight: 400;
}
.weight-medium{
    font-weight: 500;
}
.weight-semibold{
    font-weight: 600;
}
.weight-bold{
    font-weight: 700;
}
.weight-extrabold{
    font-weight: 800;
}
.weight-black{
    font-weight: 900;
}

.dark-background{
    background-color: #1A0B2E;
}
.light-background{
    background-color: #1f0b38;
}
.lighter-background{
    background-color: #250D44;
}


/* nav bar */

.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.links ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.links ul li a{
    text-decoration: none;
    color:white;
}

.subscribe-button{
    padding: 10px 15px;
    border-radius: 20px;
    color:white;
    transition: padding 0.3s;
}

.subscribe-button:hover{
    padding: 10px 25px;
}

.menuicon{
    display:none;
}

/* hero section */
.hero-section{
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 760px; */
}

.hero-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    color:white;
}

.hero-container h2{
    font-size: 60px;
}

.hero-image-container{
    position:relative;
}
.mic{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}
.newbutton{
    position:absolute;
    top:0;
    right:0;
    background-color: #00FF88;
    margin:10px 40px;
    padding:10px 20px;
    border-radius: 20px;
}

.hero-btns{
    margin-top: 15px;
    display:flex;
    gap: 20px
}
.hero-btns button{
    cursor: pointer;
}

.colored-btn{
    padding: 11px 20px;
    border-radius: 20px;
    color:white;
    border:none;
    transition: all ease 0.4s;
}

.colored-btn:hover, .subscribe-btn:hover{
    transform: scale(1.1);
}
.subscribe-btn{
    color:#00FF88;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #00FF88;
    
    transition: all ease 0.4s;
}

/* about section */
.about-container{
    padding: 80px 15px;
}

.text-section> h2, p{
    text-align: center;
}
.text-section h2{
    font-size: 48px;
}

.info-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.green-text{
    color: #00FF88;
    font-weight: bold;
    font-size: 48px;
}
.item p{
    text-transform: uppercase;
}

/* grid section */
.chooseus{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0
}
.grid-container{
    display: grid;
    grid-template-areas: "premium mobile mobile"
    "premium global global"
    "exclusive exclusive rich";
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
}

.premium{
    grid-area: premium;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.card{
    background-color: #250D44;
    border-radius: 20px;
    text-align: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}
.card h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card p{
    text-align: start;
}


/* featured section */
.featured-container{
    padding-bottom: 50px;
}
.featured-text{
    padding: 80px 0 40px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.video-grid{
    display:flex;
    gap: 25px;
}
.video-card{
    background-color:#250D44 ;
    border-radius: 20px;
    overflow: hidden;
}
.video-info{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.video-info h3, p{
    text-align: start;
    margin-bottom: 10px;
}
.video-info h3{
    font-size: 24px;
    font-weight: bold;
}
.duration{
    color:#00FF88
}

.host-text{
    margin: 50px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.host-card{
    background-color: #250D44;
    display:flex;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    gap:20px;
}

.host-info{
    flex: 1;
}
.host-info h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.links{
    display:flex;
    gap:10px;
}
.links img{
    border: 1px solid #55298f;
    border-radius: 50%;
    padding: 10px;
}

/* footer */
footer{
    background-image: url("assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0;
    align-items: center;
}
.footer-container img {
    margin-bottom: 30px;
}
.footer-links{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}
.link-card{
    display: flex;
    align-items: flex-start;
}
/* responsive css */
@media only screen and (max-width: 576px){
    .menuicon{
        display:block;
    }
    .links, .btn{
        display:none;
    }
    .logo{
        height: 20px;
    }

    .hero-container h2{
        font-size: 40px;
    }

    .text-section h2{
        font-size: 32px;
    }
    .info-section{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
}
.chooseus {
    font-size: 32px;
}
.grid-container{
    display: grid;
    grid-template-areas: "premium"
    "mobile"
    "global"
    "exclusive" "rich";
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}
.video-grid{
    flex-direction: column;
}
.featured-text{
    font-size: 32px;
}
.host-text{
    font-size: 32px;
}
.host-card{
    flex-direction: column;
}
.footer-links{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

}