*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;

}
body{
    font-size: 16px;
    color:white;
}

.gradient-background{
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.font-16{
    font-size: 16px;
}
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}
.font-60{
    font-size: 60px;
}
.font-48{
    font-size: 48px;
}

.weight-regular{
    font-weight: 400;
}
.weight-medium{
    font-weight: 500;
}
.weight-semibold{
    font-weight: 600;
}
.weight-bold{
    font-weight: 700;
}
.weight-extrabold{
    font-weight: 800;
}
.weight-black{
    font-weight: 900;
}

.dark-background{
    background-color: #1A0B2E;
}
.light-background{
    background-color: #1f0b38;
}
.lighter-background{
    background-color: #250D44;
}


/* nav bar */

.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.links ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.links ul li a{
    text-decoration: none;
    color:white;
}

.subscribe-button{
    padding: 10px 15px;
    border-radius: 20px;
    color:white;
}

.menuicon{
    display:none;
}

/* hero section */
.hero-section{
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
}

.hero-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    color:white;
}

.hero-container h2{
    font-size: 60px;
}

.hero-image-container{
    position:relative;
}
.mic{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}
.newbutton{
    position:absolute;
    top:0;
    right:0;
    background-color: #00FF88;
    margin:10px 40px;
    padding:10px 20px;
    border-radius: 20px;
}

.hero-btns{
    margin-top: 15px;
}

.colored-btn{
    padding: 11px 20px;
    border-radius: 20px;
    color:white;
    border:none;

}
.subscribe-btn{
    color:#00FF88;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #00FF88;
}

/* about section */
.about-container{
    padding: 80px 0;
}

.text-section> h2, p{
    text-align: center;
}
.text-section h2{
    font-size: 48px;
}

.info-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}
.item{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.green-text{
    color: #00FF88;
    font-weight: bold;
    font-size: 48px;
}
.item p{
    text-transform: uppercase;
}

/* grid section */
.chooseus{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0
}
.grid-container{
    display: grid;
    grid-template-areas: "premium mobile mobile"
    "premium global global"
    "exclusive exclusive rich";
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
}

.premium{
    grid-area: premium;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich{
    grid-area: rich;
}
.card{
    background-color: #250D44;
    border-radius: 20px;
    text-align: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
}
.card h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card p{
    text-align: start;
}
/* responsive css */
@media only screen and (max-width: 576px){
    .menuicon{
        display:block;
    }
    .links, .btn{
        display:none;
    }
    .logo{
        height: 20px;
    }
}